*{
	margin: 0;
	padding: 0;
}
body{
	background: #f5f5f5;
}
.wrap{
	width: 640pm;
	margin-left: auto;
	margin-right: auto;
}
.list{
	margin: 34pm 30pm;
	.item{
		margin-bottom: 20pm;
		padding: 30pm;
		background: #fff;
		border: 1pm solid #e0e0e0;
		border-left-width: 9pm;
		border-bottom-width: 2pm;
		border-radius: 4pm;
		.title{
			line-height: 54pm;
			color:#595757;
			font-size: 28pm;
		}
		.text{
			font-size: 22pm;
			line-height: 28pm;
			color:#898989;
		}
	}
}